WELCOME TO MAIN PAGE OF WEAPONS NIGGAA
<!DOCTYPE html>
<html>
    <head>
        <title>WEAPONS</title>
    </head>

    <style>
        body { background-color:rgb(105, 13, 13);}
        h1{
        font-family: verdana;
        font-size: 300%;
        padding-left: 600px;
        color: seashell;
        }
        h2{
            font-family: verdana;
            font-size: 160%;
            padding-left: 230px;
            color: seashell
        }
    </style>

    <body>
        <h1> WEAPONS</h1>
        <h2> We offer all types of weapons, from guns to knives to hand-grenades.</h2>
    </body>
</html>